*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    padding: 0;
    margin: 0; 
    background-color: rgba(246,247,251,255); 
}

.navigasi{
    background-color: white;
    width: 15vw;
    min-height: 100vh;
}

.content{
    background-color: white;
    width: 84vw;
    margin-left: 1vw;
    min-height: 100vh;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 2rem;
    padding-right:2rem;
}

.container{
    display: flex;
    height: auto;
}

.btn_nav{
    background-color: rgba(246,247,251,255);
    color: black;
    text-decoration: none;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1rem;
}

.btn_nav.active{
    background-color: rgba(40,56,98,255);
    color: white;
}

.link{
    color: black;
    text-decoration:none;
}

.link.active{
    color: white;
}

table{
    width: 100%;
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
}

td{
    text-align: center;
}

.input{
    outline: none;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: solid 2px rgba(246,247,251,255);
    border-radius: 10px;
}

.btn{
    margin-top: 2rem;
    padding: 10px 30px ;
    width: 20rem;
    border: solid 2px rgba(246,247,251,255);
    border-radius: 10px;
    background-color: rgba(40,56,98,255);
    color: white;
    cursor: pointer;
}
